<div class="article-container mx-4">
  {{#each userArticles.articles as |article|}}
    <button class="btn btn-secondary mt-3 w-100 d-flex justify-content-between" data-id="{{id}}">
      <span data-id="{{id}}">{{title}}</span>
      <span data-id="{{id}}">{{format_date date}}</span>
    </button>
  {{/each}}
</div>

<a href="/newpost">
  <button id="new-post-btn" class="btn fs-3">Add New Post</button>
</a>

<script src="/js/dashboard.js"></script>
